extends ./../templates/base.pug
include ./../mixin/keypad

block content
	nav.main
		h1 BOS 5-Ton Folgen
			
	.container#zvei5ton
		.load(v-show='!isReady')
		.columns
			.column.col-12
				.toast.toast-danger(v-show='!audioSupported')
					| Ihr Browser unterstützt keine Audio Wiedergabe!
		
		.columns
			.column.col-6
				.columns
					.column.col-12
						.multi-input
							.input-disable(v-bind:disabled='isPlaying')
								.list(v-if='list.length')
									.chip.chip-sm.list-item(track-by='$index' v-bind:class="{'selected' : item.played}" v-for='(idx, item) in list')
										label.chip-name(v-text='item.sequence')
										button.btn.btn-clear(v-on:click='doRemove(idx)')
								input.form-input.multi.input-xlg#sequence(type='text' tabindex='1' placeholder='5-Ton Folgen' v-on:paste='doPaste' v-on:keyPress='doKeypress' v-on:keydown='doKeydown' v-model='sequence' )
							.validation(v-show='inputInvalid')
							.progress(v-bind:style='progressStyle')
				.columns
				+keypad([['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9'], ['', '0', '']], 'keypadDisabled')
				+keypad([['F', 'W', 'A', '', 'a'],['K', 'E', 'P', '', 'b']], 'extKeypadDisabled')
				.columns
					.column.col-2: button.largeblockt(type='button' data-tooltip='Eingabefeld leeren' v-bind:disabled='clearDisabled' v-on:click='doClear') C
					.column.col-8: button.largeblockp(type='button' data-tooltip='DTMF Sequenz senden' v-bind:disabled='sendDisabled' v-on:click='doSend') Senden
					.column.col-2: button.largeblockt(type='button' data-tooltip='Zur Liste hinzufügen' v-bind:disabled='addDisabled' v-on:click='doAdd') +
			
			.column.col-1
			.column.col-5
				.columns
					.column.col-12
						.card
							.card-header
								h4.card-title 5-Ton Folgen nach ZVEI
								h6.card-meta Analoge Alarmierung
							.card-body
								p Zur Alarmierung der deutschen Behörden und Organisationen mit Sicherheitsaufgaben (BOS) im analogen 4m Sprechfunkband wird ein Folgeton Selektivrufverfahren eingesetzt.
								
	script(src="signaling.js")