doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="format-detection", content="telephone=no")
		title SIGTOOLS
		link(rel="stylesheet", href="signaling.css")
	body
		#wrapper
			block content
