extends ./templates/base.pug
include ./mixin/keypad

block content

	.container#zvei5ton
		.columns
			.column.col-12
				h2 5-Ton Folgen nach ZVEI
		.columns
			.column.col-6
				.columns
					.column.col-12
						.multi-input
							.input-disable(v-bind:disabled='inputDisabled')
								.list(v-if='list.length')
									.chip.chip-sm.list-item(track-by='$index' v-bind:class="{'selected' : item.played}" v-for='(idx, item) in list')
										label.chip-name(v-text='item.sequence')
										button.btn.btn-clear(v-on:click='doRemove(idx)')
								input.form-input.multi.input-xlg#sequence(type='text', placeholder='5-Ton Folgen' v-on:keyup='doInput' v-on:keyup.46='doRemove' v-on:keyup.space='doAdd', v-on:keyup.enter='doSend', v-model='sequence' )
							.idle
								.spinner
							.progress
							.validation(v-if='inputInvalid')
				.columns
				+keypad([['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9'], ['', '0', '']], 'keypadDisabled')
				+keypad([['F', 'W', 'A', '', 'a'],['K', 'E', 'P', '', 'b']], 'extKeypadDisabled')
				.columns
					.column.col-2: button.largeblockt(type='button' data-tooltip='Eingabefeld leeren' v-bind:disabled='clearDisabled' v-on:click='doClear') C
					.column.col-8: button.largeblockp(type='button' data-tooltip='DTMF Sequenz senden' v-bind:disabled='sendDisabled' v-on:click='doSend') Senden
					.column.col-2: button.largeblockt(type='button' data-tooltip='Zur Liste hinzufügen' v-bind:disabled='addDisabled' v-on:click='doAdd') +
	
					
			
			.column.col-1
			.column.col-5
				.columns
					.column.col-12
						.card
							.card-header
								h4.card-title 5-Ton Folgen nach ZVEI
								h6.card-meta Analoge Alarmierung
							.card-body
								p Zur Alarmierung der deutschen Behörden und Organisationen mit Sicherheitsaufgaben (BOS) im analogen 4m Sprechfunkband wird ein Folgeton Selektivrufverfahren eingesetzt.
								
						