extends ./../templates/base.pug

block content
	.container
		.columns
			.column.col-3
				a.btn.btn-block(href='bos5tone/index.html') BOS 5-Tone
			.column.col-3
				a.btn.btn-block(href='dtmf/index.html') DTMF