#wrapper {
	margin: 0 auto; 
	max-width: 1000px;
}

nav.main {
	background: #195073;
	padding: 1rem;
	margin-bottom: 4rem;
}

nav.main h1 {
	color: #fff;
}

.columns.bottom {
	margin-top: 10rem;
}

.box {
  border: .1rem solid #aaa;
  border-radius: .5rem;
  padding: 10px;
}

div.multi-input {
  border: .1rem solid #aaa;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

div.multi-input div.list {
	padding: 1.2rem 1.2rem 0rem 1.2rem;
}

div.multi-input input.form-input.multi {
	border: none !important;
}

.column.options {
	margin-top: 8rem;
	border-top: 1px solid #aaa;
}

.progress {
	width: 0%;
	height: 5px;
	background: #195073;
	position: absolute;
	bottom: 0px;
}