mixin keypad(data)
	each row in data
		.columns
			each col in row
				.column(class='col-' + (12 / row.length))
					if col.length
						button.largeblock(type='button' v-bind:disabled='keypadDisabled' v-on:click='doKeypress(\'' + col + '\')')= col